-
    var SocialLinks = [
        {url: '#', icon: 'fab fa-facebook'},
        {url: '#', icon: 'fab fa-twitter'},
        {url: '#', icon: 'fab fa-linkedin'},
        {url: '#', icon: 'fab fa-instagram'},
        {url: '#', icon: 'fab fa-google-plus'},
        {url: '#', icon: 'fab fa-whatsapp'},
        {url: '#', icon: 'fab fa-telegram'},
        {url: '#', icon: 'fab fa-ask'},
    ]