include ./pug/Helpers/Variables

doctype
html
    head
        include ./pug/Helpers/HeadCalls
        title #{ThemeName} | Contact
    body
        include ./pug/components/Navbar

        section.text-img-section.contact
            .container
                .row
                    .col.s6(data-aos="fade-up-right" data-aos-duration="3000")
                        .img
                            img(src='./images/Section/undraw_message_sent_1030.svg')
                    .col.s6(data-aos="fade-up-left" data-aos-duration="3000")
                        <div class="row">
                            <form class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="first_name" type="text" class="validate">
                                    <label for="first_name">first name</label>
                                </div>

                                <div class="input-field col s6">
                                    <input id="last_name" type="text" class="validate">
                                    <label for="last_name">Last Name</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="email" type="email" class="validate">
                                    <label for="email">Email</label>
                                </div>

                                <div class="input-field col s12">
                                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                                    <label for="textarea1">subject</label>
                                </div>
                                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                            
                            
                            </form>
                            .col.s12
                                ul
                                    li #[i.fa.fa-street-view] 32 Little Britain st  london - united kingdom
                                    li #[i.fa.fa-at] info@mylady.com
                        </div>



        //- --------------
        include ./pug/components/Modals

        include ./pug/components/Footer
        include ./pug/Helpers/FooterCalls